<%- include("partials/main/header"); -%>
<section id="vision">
</section>
       
<div class="row gy-4" data-aos="fade-up" data-aos-delay="100">
    <% Member.forEach(function(member){ %>
      <div class="col-lg-6 col-md-4  justify-content-center" style="padding-left: 15%;">
        <div class="service-item  position-relative">
            <div class="pic"><img src="images/contact/avatarmen.png" class="img-fluid" alt=""></div>
          <h3><%= member.Name %></h3>
          <h5> Mail_id: </h5>
          <p> <%= member.Mail_id %> </p>
          <h5> Branch: </h5>
          <p><%= member.Department %> </p>
          <h5>Designation: </h5> <p> <%= member.Designation %> </p>
        </div>
      </div>
      <% }); %>
    </div>


<%- include("partials/main/footer"); -%>