<%- include("partials/main/header"); -%>

  <!-- ======= vision Section ======= -->
  <section id="vision" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <p><b>VISION :</b> “To be a nationally recognized organization that attracts, rewards, retains outstanding faculty, students and staff."
            Training and Placement Section is the marketing division of the institute. This section, acting as an interface between the college and companies, has maintained symbiotic and purposeful relationship with industries across the country.
            As a result, it is willing to build up an impressive record both in terms of percentage of students placed as well as number of companies visiting the campus. The section hosts companies on campus and ensures that every aspirant is assured of a bright career of his/her choice."</b>
          </p>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 vision-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="images/placement.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section>
  
  <!-- End vision -->

  <main id="main">

    
    <!-- ======= About Us Section ======= -->

    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About Us</h2>
        </div>

        <div class="row content">
          <div class="col-lg-12">
            <p>
              National Institute of Technology, Andhra Pradesh is the 31st institution among the chain of NITs started by the Government of India. 
              NIT Andhra Pradesh is established in the state of Andhra Pradesh recently in the academic year 2015 – 2016. 
              Currently the Institute is offering B.Tech., M.Tech., Ph.D. and MS programmes.
              A new campus has been established with 172.6 acres of land adjacent to Chennai-Kolkata Highway (NH-16) in the air-strip lands of Tadepalligudem. 
              CPWD had taken up the construction activity for all the buildings using Prefabrication construction technology. 
              The construction work of Phase 1A buildings (Academic & laboratory complexes, Hostels, faculty and staff quarters etc.) is already completed. 
              Presently the institute is fully running from the permanent campus.
              The construction works of Phase 1B is also almost completed which include additional academic & Laboratory infrastructure along with fullfledged recreation & students amenities centre.
            </p>
          </div>
        </div>

      </div>
    </section>
    
    <!-- End About Us Section -->

    <!-- ======= story Section ======= -->

    <section id="story" class="story section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Placement Stories</h2>
        </div>

        <div class="row">
        <% stories.forEach(function(story){ %>
          <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
            <div class="student d-flex align-items-start">
              <div class="pic"><img src="images/contact/avatarmen.png" class="img-fluid" alt=""></div>
              <div class="student-info">
                <h4><%= story.Name %></h4>
                <span><%= story.Role %></span>
                <p>Got Placed at <%= story.CompanyPlaced %></p>
                <a href="/stories/<%= story.Name %>" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
                
              </div>
            </div>
          </div>
        <% }); %>

        </div>

      </div>
    </section>
    
    <!-- End story Section -->

  <!-- ======= Why Us Section ======= -->

    <section id="recruiters" class="recruiters section-bg">
      <div class="container" data-aos="fade-up">

        <div class="recrutiers">
          <h2>Our Recruiters</h2>
        </div>
          <section id="clients" class="clients section-bg">
          <div class="container">
    
            <div class="row" data-aos="zoom-in">
    
              <div class="col-lg-2 col-md-4 col-md-6 d-flex align-items-center justify-content-center">
                <img src="images/logo/accenture.png" class="img-fluid" alt="">
              </div>
    
              <div class="col-lg-2 col-md-4 col-md-6 d-flex align-items-center justify-content-center">
                <img src=" images/logo/adidas.png" class="img-fluid" alt="">
              </div>
    
              <div class="col-lg-2 col-md-4 col-md-6 d-flex align-items-center justify-content-center">
                <img src=" images/logo/amazon.png" class="img-fluid" alt="">
              </div>
    
              <div class="col-lg-2 col-md-4 col-md-6 d-flex align-items-center justify-content-center">
                <img src=" images/logo/apple.png" class="img-fluid" alt="">
              </div>
    
              <div class="col-lg-2 col-md-4 col-md-6 d-flex align-items-center justify-content-center">
                <img src=" images/logo/broadridge.png" class="img-fluid" alt="">
              </div>
    
              <div class="col-lg-2 col-md-4 col-md-6 d-flex align-items-center justify-content-center">
                <img src=" images/logo/byjus.png" class="img-fluid" alt="">
              </div>

              <div class="col-lg-2 col-md-4 col-md-6 d-flex align-items-center justify-content-center">
                <img src=" images/logo/" class="img-fluid" alt="">
              </div>

              <div class="col-lg-2 col-md-4 col-md-6 d-flex align-items-center justify-content-center">
                <img src=" images/logo/cisco.png" class="img-fluid" alt="">
              </div>

              <div class="col-lg-2 col-md-4 col-md-6 d-flex align-items-center justify-content-center">
                <img src=" images/logo/cognizant.jpg" class="img-fluid" alt="">
              </div>
    
              <div class="col-lg-2 col-md-4 col-md-6 d-flex align-items-center justify-content-center">
                <img src=" images/logo/deloitte.png" class="img-fluid" alt="">
              </div>
    
              <div class="col-lg-2 col-md-4 col-md-6 d-flex align-items-center justify-content-center">
                <img src=" images/logo/flipkart.png" class="img-fluid" alt="">
              </div>

              <div class="col-lg-2 col-md-4 col-md-6 d-flex align-items-center justify-content-center">
                <img src=" images/logo/ford.jpg" class="img-fluid" alt="">
              </div>

              <div class="col-lg-2 col-md-4 col-md-6 d-flex align-items-center justify-content-center">
                <img src=" images/logo/google.png" class="img-fluid" alt="">
              </div>

              <div class="col-lg-2 col-md-4 col-md-6 d-flex align-items-center justify-content-center">
                <img src=" images/logo/harman.png" class="img-fluid" alt="">
              </div>
    
              <div class="col-lg-2 col-md-4 col-md-6 d-flex align-items-center justify-content-center">
                <img src=" images/logo/hcl.png" class="img-fluid" alt="">
              </div>
    
              <div class="col-lg-2 col-md-4 col-md-6 d-flex align-items-center justify-content-center">
                <img src=" images/logo/hp.png" class="img-fluid" alt="">
              </div>
    
              <div class="col-lg-2 col-md-4 col-md-6 d-flex align-items-center justify-content-center">
                <img src=" images/logo/ibm.png" class="img-fluid" alt="">
              </div>
    
              <div class="col-lg-2 col-md-4 col-md-6 d-flex align-items-center justify-content-center">
                <img src=" images/logo/infosys.png" class="img-fluid" alt="">
              </div>
    
              <div class="col-lg-2 col-md-4 col-md-6 d-flex align-items-center justify-content-center">
                <img src=" images/logo/intel.png" class="img-fluid" alt="">
              </div>

              <div class="col-lg-2 col-md-4 col-md-6 d-flex align-items-center justify-content-center">
                <img src=" images/logo/itc.png" class="img-fluid" alt="">
              </div>

              <div class="col-lg-2 col-md-4 col-md-6 d-flex align-items-center justify-content-center">
                <img src=" images/logo/kia.png" class="img-fluid" alt="">
              </div>

              <div class="col-lg-2 col-md-4 col-md-6 d-flex align-items-center justify-content-center">
                <img src=" images/logo/microsoft.jpg" class="img-fluid" alt="">
              </div>
    
              <div class="col-lg-2 col-md-4 col-md-6 d-flex align-items-center justify-content-center">
                <img src=" images/logo/netflix.png" class="img-fluid" alt="">
              </div>
    
              <div class="col-lg-2 col-md-4 col-md-6 d-flex align-items-center justify-content-center">
                <img src=" images/logo/nvidia.png" class="img-fluid" alt="">
              </div>

              <div class="col-lg-2 col-md-4 col-md-6 d-flex align-items-center justify-content-center">
                <img src=" images/logo/oracle.png" class="img-fluid" alt="">
              </div>

              <div class="col-lg-2 col-md-4 col-md-6 d-flex align-items-center justify-content-center">
                <img src=" images/logo/qualcomm.png" class="img-fluid" alt="">
              </div>
              
              <div class="col-lg-2 col-md-4 col-md-6 d-flex align-items-center justify-content-center">
                <img src=" images/logo/salesforce.png" class="img-fluid" alt="">
              </div>
    
              <div class="col-lg-2 col-md-4 col-md-6 d-flex align-items-center justify-content-center">
                <img src=" images/logo/samsung.png" class="img-fluid" alt="">
              </div>
    
              <div class="col-lg-2 col-md-4 col-md-6 d-flex align-items-center justify-content-center">
                <img src=" images/logo/sandisk.png" class="img-fluid" alt="">
              </div>
    
              <div class="col-lg-2 col-md-4 col-md-6 d-flex align-items-center justify-content-center">
                <img src=" images/logo/tcs.png" class="img-fluid" alt="">
              </div>
    
              <div class="col-lg-2 col-md-4 col-md-6 d-flex align-items-center justify-content-center">
                <img src=" images/logo/techmahindra.png" class="img-fluid" alt="">
              </div>
    
              <div class="col-lg-2 col-md-4 col-md-6 d-flex align-items-center justify-content-center">
                <img src=" images/logo/wipro.png" class="img-fluid" alt="">
              </div>

            </div>
    
          </div>
        </div>
          </section>
          
    <!-- End Why Us Section -->


  <!-- ======= ofc (Off Campus) Section ======= -->
    <section id="ofc" class="ofc">
      <div class="container" data-aos="zoom-in">

        <div class="row">
          <div class="col-lg-9 text-center text-lg-start">
            <h3>Off Campus Recruitements</h3>
            <p> Want to know more about the off campus job and interview.</p>
          </div>
          <div class="col-lg-3 ofc-btn-container text-center">
            <a class="ofc-btn align-middle" href="#">View More</a>
          </div>
        </div>

      </div>
    </section>
    
  <!-- End ofc Section -->

    

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Contact</h2>
        </div>
          <div class="col-lg-9 ">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Kadakatla, Tadepaligudem, West Godavari dist, AndhraPradesh, 534101</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>info@example.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+1 5589 55488 55s</p>
              </div>

              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3818.7909901104617!2d81.53577551404288!3d16.83672182288599!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a37b360a16cea5f%3A0xdeeb3716c10f73d1!2sNATIONAL%20INSTITUTE%20OF%20TECHNOLOGY%20ANDHRA%20PRADESH!5e0!3m2!1sen!2sin!4v1680085331031!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>

      </div>
    </section><!-- End Contact Section -->

  </main>


  <%- include("partials/main/footer"); -%>