<%- include("../partials/stories/storyheader"); -%>

    <!-- ======= Our Services Section ======= -->
    <section id="services" class="services sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Placement Stories</h2>
          <p>Find the placement details and experience of our students who got placed</p>
        </div>

        <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">
        <% stories.forEach(function(story){ %>
          <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
            <div class="student d-flex align-items-start">
              <div class="pic"><img src="/images/contact/avatarmen.png" class="img-fluid" alt=""></div>
              <div class="student-info">
                <h4><%= story.Name %></h4>
                <span><%= story.Role %></span>
                <p>Currently working at <%= story.CompanyPlaced %></p>
                <a href="/stories/<%= story.Name %>" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
                
              </div>
            </div>
          </div>
          <% }); %>
        </div>
        <p> <a href="/stories/addStory">Click here </a>to add your story</p>
      </div>
    </section>


      <%- include("../partials/stories/storyfooter"); -%>