 <%- include("../partials/tnp-header"); -%>

<div class="intro justify-content-center container">
    <h1>Welcome to TNP page</h1>
    <p>Check if there are new placementstories that are to add up</p>
    <p>Kindly make sure you enter the details of a new company correct</p>
    <p>Edit company will be activated soon</p>
    <p>Add member : Only you can add a new Member to access this data</p>
</div>


 <div class="containe">
    <div class="justify-content-center">
        <h1>Name: </h1>
        <p><%= member.Name %></p>
        <h1>Contact: </h1>
        <p><%= member.Contact %></p>
        <h1>Mail: </h1>
        <p><%= member.Mail_id %></p>
        <h1>Department: </h1>
        <p><%= member.Department %></p>
        <h1>Designation : </h1>
        <p><%= member.Designation %></p>

    </div>
 </div>
