 <%- include("../partials/tnp-header"); -%>

<div class="intro justify-content-center container">

</div>


 <div class="container justify-content-center">
    <div class="row justify-content-center">
        <h1>Welcome to TNP page</h1>
    </div>
    <br>
    <br>
    <div class="row justify-content-center" style="padding-left: 15%;">
        <div class="col">
            <h3> <b>Name:</b>  <%= member.Name %> </h3>
            <p></p>
            <h3> <b> Contact:</b> <%= member.Contact %> </h3>
            <p></p>
            <h3><b> Mail:</b> <%= member.Mail_id %></h3>    
        </div>
        <div class="col">
            <h3> <b>Department:</b> <%= member.Department %></h3>
            <p></p>
            <h3> <b>Designation:</b> <%= member.Designation %></h3>
            <p></p>  
        </div>
    </div>
 </div>
<br><br>
 <div class="container justify-content-center" >
    <div class="row justify-content-center">
        <h2>Features you avail :</h2>
    </div>
    <div class="justify-content-center">
        <p >1. Add a company details in the Data Base</p>
        <br>
        <p>2. Give access to the Placement stories that were submitted by students</p>
        <br>
        <p>3. Edit company details or delete them</p>
    </div>

 </div>
