<%- include("../partials/company/company-header"); -%>
<br><br><br><br><br><br><br>
<div class="container justify-content-center">
    <table>
    <tr>
        <th> Company</th>
        <th> Type </th>
        <th> Branch </th>
        <th> Roles they offer</th>
        <th> Previous year Intake</th>
    </tr>
    <% comp.forEach(function(company){ %>
    <tr>
        <td> <a href= "/companies/<%= company.Name%>"> <%= company.Name %> </a></td>
        <td> <%= company.Type %> </td>
        <td> <%= company.Branches.join(", ") %> </td>
        <td> <%= company.Roles %> </td>
        <td> <%= company.PrevYearIntake[company.PrevYearIntake.length - 1] %> </td>
    </tr>
    <% }); %>
</table>          
</div> 
<%- include("../partials/company/company-footer"); -%>