<%- include("../partials/company/company-header"); -%>

  <!-- ======= vision Section ======= -->
  <section id="vision" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <p><b>VISION :</b> “To be a nationally recognized organization that attracts, rewards, retains outstanding faculty, students and staff."
            Training and Placement Section is the marketing division of the institute. This section, acting as an interface between the college and companies, has maintained symbiotic and purposeful relationship with industries across the country.
            As a result, it is willing to build up an impressive record both in terms of percentage of students placed as well as number of companies visiting the campus. The section hosts companies on campus and ensures that every aspirant is assured of a bright career of his/her choice."</b>
          </p>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 vision-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="images/placement.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section>

            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Statistics</h1>
                        <div class="row">
                            <div class="col-xl-6 col-md-6">
                                <div class="card bg-primary text-white mb-4">
                                    <div class="card-body">Primary Card</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">Coming Soon</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-bar me-1"></i>
                                        Bar Chart Soon
                                    </div>
                                    <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Our Recruiters
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Type</th>
                                            <th>Branches</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                      <% comp.forEach(function(company){ %>

                                        <tr>
                                          <td><a href="/companies/<%= company.Name %>"><%= company.Name %></a></td>
                                          <td><%= company.Type %></td>
                                          <td><%= company.Branches %></td>
                                      </tr>
                                        <% }); %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
               
            </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <!-- <script src="companyscript.js"></script> -->
               <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="js/datatable.js"></script>

        <%- include("../partials/company/company-footer"); -%>